<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joshua.cj.mapper.WCLoginLogMapper">
    <insert id="insertWCLoginLog">
    insert into wc_login_log(login_date,session_key,openid) values(#{loginDate},#{sessionKey},#{openid})
    </insert>
</mapper>